.container{
   margin-left: 40px;
   margin-top: 50px;
}

.row{
    text-align: center;
    justify-content: center;
}

.col-1-h1{
    color: red;
}

.col-2-h1{
    color: black;
}

.col-3-h1{
    color: green;
}

.counter1{
    color: red;
    font-size: 2em;  
}

.counter2{
    color:black;
    font-size: 2em;  
}

.counter3{
    color:green;
    font-size: 2em;  
}